bc_logs/
collect_dataset/
collect_dataset_teacher/
csv_files/
devel/
dynamic_target_3_3/
dynamic_target_5_5/
dynamic_target_8_3/
dynamic_target_8_8/
leader_trajectory/
logs/
logs_actor_critic_finetune/
logs_actor_critic_finetune_random_xy_distance_ang/
logs_actor_critic_finetune_room/
logs_actor_critic_finetune_room_prevent_chan/
logs_actor_critic_finetune_room_prevent_chan_reward/
logs_actor_finetune/
logs_lidar/
logs_teacher_student/
logs_test_finetune/
logs_test_finetune_room/
logs_test_fuzzy_fuzzy/
logs_test_many_stop/
logs_test_y_no_0_no_re/
random_target/
test/
test_dynamic_3_3_finetune_room_chan/
test_dynamic_5_5_finetune_room_chan/
test_dynamic_8_3_finetune_room_chan/
test_dynamic_8_8_finetune_room_chan/
test_finetune/
test_finetune_room/
test_finetune_room_chan/
test_image_input/
test_image_input_finetune/
test_image_input_finetune_room_chan/
test_many_finetune_room_chan/
test_u_shaped_finetune/
test_random_target_finetune_room_chan/
test_u_shaped_finetune_room_chan/
testtest/
src/full_vehicle_description/bookstore/
src/full_vehicle_description/hospital/
src/full_vehicle_description/meshes/
src/full_vehicle_description/small_house/
src/loggers_control/
src/loggers_description/
src/loggers_gazebo/
src/nexus_4wd_mecanum_description/
test_p_finetune_room_chan/
src/nexus_4wd_mecanum_gazebo/
