<launch>
  <!-- <param name='robot_description' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/double_vehicle.xacro'/> -->
  <!-- <param name='robot_description1' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/single_vehicle_no_rod1.xacro'/> -->
  <param name='robot_description' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/single_vehicle_no_rod2.xacro'/>
  <!-- <param name='robot_description3' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/single_vehicle_no_rod3.xacro'/>
  <param name='robot_description4' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/single_vehicle_no_rod4.xacro'/>
  <param name='robot_description5' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/single_vehicle_no_rod5.xacro'/> -->
  <!-- <param name='robot_description' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/full_vehicle_description.xacro'/> -->
  <!-- <param name='robot_description_rod' command='$(find xacro)/xacro $(find full_vehicle_description)/urdf/rod_link.xacro'/> -->
  <include
    file="$(find gazebo_ros)/launch/empty_world.launch" >
    <arg name="gui" value="true" />
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/room_two_car_rod.world'/> -->
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/intelligent_build.world'/> -->
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/no_man_intelligent_build.world'/> -->
    <arg name='world_name' value='$(find full_vehicle_description)/hospital/costome.world'/>
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/final_intelligent.world'/> -->

    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/test_agv.world'/> -->
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/test.world'/> -->
    <!-- <arg name='world_name' value='$(find full_vehicle_description)/hospital/test_cam_lidar.world'/> -->
  </include>
  <!-- <node
    name="tf_footprint_base1"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 robot1_base_link robot1_base_footprint 40" />
    <node
    name="tf_footprint_base2"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 robot2_base_link robot2_base_footprint 40" /> -->
  <!-- <node
    name="tf_footprint_base"
    pkg="tf"
    type="static_transform_publisher"
    args="0 0 0 0 0 0 test_odom robot1_base_footprint 40" /> -->

    
    <node
    name="spawn_model2"
    pkg="gazebo_ros"
    type="spawn_model"
    args=" -urdf -model mycar2 -param robot_description -x 0.0 -y 6.0 -z 0.1 -Y -1.5707963"
    output="screen" />
  <!-- <node
    name="spawn_model"
    pkg="gazebo_ros"
    type="spawn_model"
    args=" -urdf -model mycar1 -param robot_description1 -x 0.0 -y 7.5 -z 0.1 -Y -1.5707963"
    output="screen" /> -->

  

    <!-- <node name="robot_state_publisher_2" pkg="robot_state_publisher" type="robot_state_publisher">
        <remap from="robot_description" to="robot_description2" />
        <param name="publish_frequency" type="double" value="30.0" />
    </node> -->
  <!-- <node name="joint_state_publisher_1" pkg="joint_state_publisher" type="joint_state_publisher"> 
    <remap from="robot_description" to="robot_description1" />
    <param name="publish_frequency" type="double" value="30.0" />
    </node>
    <node name="joint_state_publisher_2" pkg="joint_state_publisher" type="joint_state_publisher">
        <remap from="robot_description" to="robot_description2" />
        <param name="publish_frequency" type="double" value="30.0" />
    </node> -->

    <!-- <node name="robot_state_publisher_1" pkg="robot_state_publisher" type="robot_state_publisher"> 
        <remap from="robot_description" to="robot_description1" />
        <param name="publish_frequency" type="double" value="30.0" />
    </node> -->
</launch>